<article>
    <header>
        <span class="date"><%- item.date.format('LL')%></span>
        <h2><a href="<%- config.root%><%- item.path%>"><%- item.title || "Esqueci de por o titulo"%></a></h2>
    </header>
    <a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
    <p><%- truncate(strip_html(item.content), {length: 160, omission: '...'})%></p>
    <ul class="actions">
        <li><a href="<%- config.root%><%- item.path%>" class="button">Full Story</a></li>
    </ul>
</article>